language: java

jdk:
  - openjdk17

addons:
  chrome: stable

install:
  - pip install awscli
  - export PATH=$PATH:$HOME/.local/bin

before_script:
  - ./cleanup.sh

# Cron job to run the build and test every day at 13:40 UTC
cron:
  - cron: "10 03 * * *"
    name: "Build and Test Cron"
    script:
      - 'if [ "$TRAVIS_EVENT_TYPE" != "cron" ]; then echo "Not a cron job, skipping build"; exit 0; fi'
      - aws --version
      - mvn clean test -P newDevelopment


script:
  - 'if [ "$TRAVIS_EVENT_TYPE" = "cron" ]; then echo "Cron job build, skipping main build"; exit 0; fi'
  - # Add your regular build commands here

notifications:
  email:
    recipients:
      - bimbstech@gmail.com
    on_success: always
    on_failure: always
